
@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic' rel='stylesheet' type='text/css);


@font-face {
  font-family: "Mogra-Regular";

  src: local("☺"),
    url("type/Mogra-Regular.otf") format("opentype"),
    url("Mogra-Regular.eot"),
    url('Mogra-Regular.woff') format("woff"),
    url('Mogra-Regular.woff2') format('woff2'),
    url('Mogra-Regular,ttf') format('truetype');
}

IMG.displayed {
    display: block;
    width: 1440px;
    height: 500px;
    align-content: center;
    align-self: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: auto;
    margin-left: auto;;
    margin-right: auto; }

.container {
  font-family: "Mogra-Regular";
  font-size: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.container h1 {
  font-family:"Mogra-Regular";
  font-weight: 400;
  color: #76BF17;
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 0px;
}
